@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
}
html {
  font-family: "Inter", sans-serif;
  background-color: #f9fafb;
}
/* Add this to your global CSS file */
/* Add to your CSS file */
input[type="range"] {
  -webkit-appearance: none;
  height: 2px;
  background: transparent;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #ffffff;
  border: 2px solid #3b82f6;
  margin-top: -7px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
  cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #ffffff;
  border: 2px solid #3b82f6;
  margin-top: -7px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
  cursor: pointer;
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 2px;
  background: transparent;
  border-radius: 1px;
  cursor: pointer;
}

input[type="range"]::-moz-range-track {
  width: 100%;
  height: 2px;
  background: transparent;
  border-radius: 1px;
  cursor: pointer;
}